### GroupBy 

permite calcular eficazmente agregados en subconjuntos de datos

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
filename = "/content/drive/MyDrive/Data CodingDojo/passenger_modified.csv"

df = pd.read_csv(filename)

df.head(2)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Food and drink,Seat comfort,Inflight entertainment,On-board service,Baggage handling,Inflight service,Cleanliness,Departure Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,5,5,5,4,4,5,5,25,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,1,1,1,1,3,4,1,1,neutral or dissatisfied

In [21]:
columnas_nuevas = df.columns.str.lower().str.replace(" ", "_")
df.columns = columnas_nuevas
df.head()

,gender,customer_type,age,type_of_travel,class,flight_distance,food_and_drink,seat_comfort,inflight_entertainment,on-board_service,baggage_handling,inflight_service,cleanliness,departure_delay_in_minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,5,5,5,4,4,5,5,25,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,1,1,1,1,3,4,1,1,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,5,5,5,4,4,4,5,0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,2,2,2,3,4,2,11,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,4,5,3,3,4,3,3,0,satisfied

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103793 entries, 0 to 103792
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   gender                      103793 non-null  object
 1   customer_type               103793 non-null  object
 2   age                         103793 non-null  int64
 3   type_of_travel              103793 non-null  object
 4   class                       103793 non-null  object
 5   flight_distance             103793 non-null  int64
 6   food_and_drink              103793 non-null  int64
 7   seat_comfort                103793 non-null  int64
 8   inflight_entertainment      103793 non-null  int64
 9   on-board_service            103793 non-null  int64
 10  baggage_handling            103793 non-null  int64
 11  inflight_service            103793 non-null  int64
 12  cleanliness                 103793 non-null  int64
 13  departure_delay_in_minutes  103793 non-null  int64
 14  satisfaction                103793 non-null  object
dtypes: int64(10), object(5)
memory usage: 11.9+ MB

In [23]:
df.describe()

,age,flight_distance,food_and_drink,seat_comfort,inflight_entertainment,on-board_service,baggage_handling,inflight_service,cleanliness,departure_delay_in_minutes
count,103793.000000,103793.000000,103793.000000,103793.000000,103793.000000,103793.000000,103793.000000,103793.000000,103793.000000,103793.000000
mean,39.387107,1189.346623,3.205447,3.439904,3.358618,3.382617,3.631777,3.640795,3.287014,14.698005
std,15.112823,996.926831,1.326233,1.319008,1.332518,1.288198,1.180971,1.175569,1.311832,37.809116
min,7.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,2.000000,0.000000
50%,40.000000,843.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,0.000000
75%,51.000000,1742.000000,4.000000,5.000000,4.000000,4.000000,5.000000,5.000000,4.000000,12.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000

In [29]:
df[df["departure_delay_in_minutes"] == 1592]

,gender,customer_type,age,type_of_travel,class,flight_distance,food_and_drink,seat_comfort,inflight_entertainment,on-board_service,baggage_handling,inflight_service,cleanliness,departure_delay_in_minutes,satisfaction
83656,Female,Loyal Customer,47,Personal Travel,Eco,1120,2,2,2,4,4,3,2,1592,neutral or dissatisfied

In [31]:
# evaluacion del promedio en comodidad del asiento
df['seat_comfort'].mean()

3.439904425153912

## Para obtener la evaluacion promedio de la comodidad del asiento, por clase.
## se puede utilizar GROUP BY

In [32]:
df.groupby("class")["seat_comfort"].mean()

class
Business    3.761556
Eco         3.139008
Eco Plus    3.183679
Name: seat_comfort, dtype: float64

### Group BY tambien es utilizable en multiples columnas

In [34]:
df.groupby(["class","gender"])["seat_comfort"].mean()

class     gender
Business  Female    3.755691
          Male      3.767463
Eco       Female    3.217490
          Male      3.057182
Eco Plus  Female    3.249682
          Male      3.110547
Name: seat_comfort, dtype: float64