<a href="https://colab.research.google.com/github/FelipeGonzalezGarrido/Coding-Dojo/blob/main/1.%20Data%20Science%20Fundamentals/Semana%202%20-%20Pandas%20for%20Data%20Manipulation/Semana_2_Ejercicio_Renombrar%2C_eliminar_datos_faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")
import pandas as pd

filename = "/content/drive/MyDrive/Data CodingDojo/RailsToTrails_National Count Data_week.xlsx"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
bike_df = pd.read_excel(filename)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

# 2. ¿Cuántos valores faltantes hay en el conjunto de datos? ¿En qué columnas están?

In [ ]:
#VALORES FALTANTES
#En columnas: (2021 counts, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9)
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Unnamed: 6                     0
Unnamed: 7                    52
Unnamed: 8                    51
Unnamed: 9                    51
dtype: int64

#1.Renombren la columna Unnamed: 6 a percent_change.

In [ ]:
#CAMBIO DE NOMBRE DE COLUMNA Unnamed: 6
bike_df = bike_df.rename(columns={"Unnamed: 6":"percent_change"})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

#3. Rellenen los valores faltantes en la columna 2021 Counts con 0.

In [ ]:
#RELLENO DE VALORES COLUMNA 2021 Counts
bike_df["2021 Counts"].fillna(0, inplace=True)
bike_df["2021 Counts"].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 2021 Counts, dtype: float64

#Eliminen las columnas innecesarias:

In [ ]:
#Eliminacion de columnas innecesarias
bike_df = bike_df.drop(columns=["Unnamed: 7","Unnamed: 8", "Unnamed: 9"])
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 52 non-null     float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

# 4. Opcional/bonus: Hay un problema desafiante pero común en el nombre para la columna de recuentos de 2019. ¿Pueden encontrarlo? Si es así, cambien el nombre de la columna de recuentos de 2019 (31 contadores) a "counts_2019" (un nombre de columna más de Python).

In [ ]:
#Se aprecian que columnas tienen espacios en su nombre que puede dificultar su procesamiento.
#Se realiza solamente cambio de columna indicada
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 52 non-null     float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

In [ ]:
bike_df = bike_df.rename(columns={" 2019 counts (31 counters)":"counts_2019"})
bike_df.head()

,Timeframe,Week of,counts_2019,2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602